
{{if .CurrentTable.HasCompositePrimaryKey}}
package {{getTag .Tags "PackageBase"}}.model;

import io.swagger.v3.oas.annotations.media.Schema;
import jakarta.validation.constraints.Min;
import jakarta.validation.constraints.NotNull;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
import java.io.Serializable;


{{if eq .CurrentTable.HasDateColumn true}}import java.sql.Date;{{end}}
{{if eq (.CurrentTable.HasJavaTypeColumn "BigDecimal") true}}import java.math.BigDecimal;{{end}}

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@Schema(description = "Composite key for {{.CurrentTable.GetPascalCaseTableName}} entity")
public class {{.CurrentTable.GetPascalCaseTableName}}Id implements Serializable {
    private static final long serialVersionUID = 1L;

{{ range .CurrentTable.GetPrimaryColumns}}
    @NotNull(message = "{{.GetCamelCaseColumnName}} is required") 
    private {{.GetJavaDataType}}  {{.GetCamelCaseColumnName}};
{{end}}

    public static {{.CurrentTable.GetPascalCaseTableName}}Id of(
{{- $first := true -}}
{{- range .CurrentTable.GetPrimaryColumns -}}
    {{- if not $first}}, {{end}}{{.GetJavaDataType}} {{.GetCamelCaseColumnName}}{{- $first = false -}}
{{- end -}}
        ){
        return PlaylistTrackId.builder()
{{- range .CurrentTable.GetPrimaryColumns}}
        .{{.GetCamelCaseColumnName}} ({{.GetCamelCaseColumnName}}){{end}}
        .build();
    }

    @Override
    public int hashCode() {
        final int prime = 31;
        int result = 1;
{{ range .CurrentTable.GetPrimaryColumns}}
        result = prime * result + (({{.GetCamelCaseColumnName}} == null) ? 0 : {{.GetCamelCaseColumnName}}.hashCode());
{{end}}

        return result;
    }

    @Override
    public boolean equals(Object obj) {
        if (this == obj)
            return true;
        if (obj == null)
            return false;
        if (getClass() != obj.getClass())
            return false;
        {{.CurrentTable.GetPascalCaseTableName}}Id other = ({{.CurrentTable.GetPascalCaseTableName}}Id) obj;
{{ range .CurrentTable.GetPrimaryColumns}}
        if ({{.GetCamelCaseColumnName}} == null) {
            if (other.{{.GetCamelCaseColumnName}} != null)
                return false;
        } else if (!{{.GetCamelCaseColumnName}}.equals(other.{{.GetCamelCaseColumnName}}))
            return false;
{{end}}
        return true;
    }

}
{{end}}
