{{if eq .CurrentTable.HasCompositePrimaryKey false}}
package {{getTag .Tags "PackageBase"}}.service;

import {{getTag .Tags "PackageBase"}}.config.ApplicationConfig;
import {{getTag .Tags "PackageBase"}}.data.{{.CurrentTable.GetPascalCaseTableName}}TestDataService;
import {{getTag .Tags "PackageBase"}}.exception.{{.CurrentTable.GetPascalCaseTableName}}NotFoundException;
import {{getTag .Tags "PackageBase"}}.exception.{{.CurrentTable.GetPascalCaseTableName}}ValidationException;
import {{getTag .Tags "PackageBase"}}.model.{{.CurrentTable.GetPascalCaseTableName}};
import {{getTag .Tags "PackageBase"}}.model.dto.{{.CurrentTable.GetPascalCaseTableName}}Dto;
import {{getTag .Tags "PackageBase"}}.model.save_results.{{.CurrentTable.GetPascalCaseTableName}}SaveResult;
import {{getTag .Tags "PackageBase"}}.repository.{{.CurrentTable.GetPascalCaseTableName}}Repository;
import jakarta.validation.ConstraintViolation;
import jakarta.validation.Validator;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.extension.ExtendWith;
import org.mockito.InjectMocks;
import org.mockito.Mock;
import org.mockito.junit.jupiter.MockitoExtension;
import org.modelmapper.ModelMapper;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageImpl;
import org.springframework.data.domain.PageRequest;
import org.springframework.data.domain.Pageable;

import java.util.*;

import static org.junit.jupiter.api.Assertions.*;
import static org.mockito.ArgumentMatchers.*;
import static org.mockito.Mockito.*;

@ExtendWith(MockitoExtension.class)
public class {{.CurrentTable.GetPascalCaseTableName}}ServiceTest {
    private final {{.CurrentTable.GetPascalCaseTableName}}TestDataService {{.CurrentTable.GetCamelCaseTableName}}TestDataService = new {{.CurrentTable.GetPascalCaseTableName}}TestDataService();
    
    @InjectMocks
    private {{.CurrentTable.GetPascalCaseTableName}}Service {{.CurrentTable.GetCamelCaseTableName}}Service;

    @Mock
    private {{.CurrentTable.GetPascalCaseTableName}}Repository {{.CurrentTable.GetCamelCaseTableName}}Repository;
    
    @Mock
    private ModelMapper modelMapper;
    
    @Mock
    private ApplicationConfig applicationConfig;
    
    @Mock
    private Validator validator;

    @Test
    public void testGetAll() {
        // Arrange
        List<{{.CurrentTable.GetPascalCaseTableName}}> {{.CurrentTable.GetCamelCaseTableName}}s = Arrays.asList(
            {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Model(),
            {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getSecondDefault{{.CurrentTable.GetPascalCaseTableName}}Model()
        );
        List<{{.CurrentTable.GetPascalCaseTableName}}Dto> expectedDtos = Arrays.asList(
            {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Dto(),
            {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getSecondDefault{{.CurrentTable.GetPascalCaseTableName}}Dto()
        );
        
        when({{.CurrentTable.GetCamelCaseTableName}}Repository.findAll()).thenReturn({{.CurrentTable.GetCamelCaseTableName}}s);
        when(modelMapper.map({{.CurrentTable.GetCamelCaseTableName}}s.get(0), {{.CurrentTable.GetPascalCaseTableName}}Dto.class)).thenReturn(expectedDtos.get(0));
        when(modelMapper.map({{.CurrentTable.GetCamelCaseTableName}}s.get(1), {{.CurrentTable.GetPascalCaseTableName}}Dto.class)).thenReturn(expectedDtos.get(1));

        // Act
        List<{{.CurrentTable.GetPascalCaseTableName}}Dto> result = {{.CurrentTable.GetCamelCaseTableName}}Service.getAll();

        // Assert
        assertEquals(2, result.size());
        assertEquals(expectedDtos.get(0).get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}(), result.get(0).get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}());
        assertEquals(expectedDtos.get(1).get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}(), result.get(1).get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}());
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository).findAll();
        verify(modelMapper, times(2)).map(any({{.CurrentTable.GetPascalCaseTableName}}.class), eq({{.CurrentTable.GetPascalCaseTableName}}Dto.class));
    }

    @Test
    public void testGetAllPaged() {
        // Arrange
        int page = 1;
        int pageSize = 20;
        List<{{.CurrentTable.GetPascalCaseTableName}}> {{.CurrentTable.GetCamelCaseTableName}}s = Arrays.asList({{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Model());
        Page<{{.CurrentTable.GetPascalCaseTableName}}> {{.CurrentTable.GetCamelCaseTableName}}Page = new PageImpl<>({{.CurrentTable.GetCamelCaseTableName}}s, PageRequest.of(page, pageSize), 1);
        {{.CurrentTable.GetPascalCaseTableName}}Dto expectedDto = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Dto();
        
        when(applicationConfig.getMaxPageSize()).thenReturn(100);
        when({{.CurrentTable.GetCamelCaseTableName}}Repository.findAll(any(Pageable.class))).thenReturn({{.CurrentTable.GetCamelCaseTableName}}Page);
        when(modelMapper.map(any({{.CurrentTable.GetPascalCaseTableName}}.class), eq({{.CurrentTable.GetPascalCaseTableName}}Dto.class))).thenReturn(expectedDto);

        // Act
        Page<{{.CurrentTable.GetPascalCaseTableName}}Dto> result = {{.CurrentTable.GetCamelCaseTableName}}Service.getAllPaged(page, pageSize);

        // Assert
        assertEquals(1, result.getContent().size());
        assertEquals(expectedDto.get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}(), result.getContent().get(0).get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}());
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository).findAll(any(Pageable.class));
    }

    @Test
    public void testGetAllPaged_WithNullPageSize() {
        // Arrange
        int page = 1;
        Integer pageSize = null;
        List<{{.CurrentTable.GetPascalCaseTableName}}> {{.CurrentTable.GetCamelCaseTableName}}s = Arrays.asList({{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Model());
        Page<{{.CurrentTable.GetPascalCaseTableName}}> {{.CurrentTable.GetCamelCaseTableName}}Page = new PageImpl<>({{.CurrentTable.GetCamelCaseTableName}}s, PageRequest.of(page, 20), 1);
        {{.CurrentTable.GetPascalCaseTableName}}Dto expectedDto = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Dto();
        
        when(applicationConfig.getDefaultPageSize()).thenReturn(20);
        when(applicationConfig.getMaxPageSize()).thenReturn(100);
        when({{.CurrentTable.GetCamelCaseTableName}}Repository.findAll(any(Pageable.class))).thenReturn({{.CurrentTable.GetCamelCaseTableName}}Page);
        when(modelMapper.map(any({{.CurrentTable.GetPascalCaseTableName}}.class), eq({{.CurrentTable.GetPascalCaseTableName}}Dto.class))).thenReturn(expectedDto);

        // Act
        Page<{{.CurrentTable.GetPascalCaseTableName}}Dto> result = {{.CurrentTable.GetCamelCaseTableName}}Service.getAllPaged(page, pageSize);

        // Assert
        assertEquals(1, result.getContent().size());
        assertEquals(expectedDto.get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}(), result.getContent().get(0).get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}());
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository).findAll(any(Pageable.class));
    }

    @Test
    public void testGetById_Success() {
        // Arrange
        {{.CurrentTable.GetFirstPrimaryColumnJavaDataType}} {{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}} = {{.CurrentTable.GetFirstPrimarySetString}}{{.CurrentTable.GetJavaFirstPrimaryUnitTestValueAsString}}{{.CurrentTable.GetFirstPrimarySetString}};
        {{.CurrentTable.GetPascalCaseTableName}} {{.CurrentTable.GetCamelCaseTableName}} = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Model();
        {{.CurrentTable.GetPascalCaseTableName}}Dto expectedDto = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Dto();
        
        when({{.CurrentTable.GetCamelCaseTableName}}Repository.findById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}})).thenReturn(Optional.of({{.CurrentTable.GetCamelCaseTableName}}));
        when(modelMapper.map({{.CurrentTable.GetCamelCaseTableName}}, {{.CurrentTable.GetPascalCaseTableName}}Dto.class)).thenReturn(expectedDto);

        // Act
        {{.CurrentTable.GetPascalCaseTableName}}Dto result = {{.CurrentTable.GetCamelCaseTableName}}Service.getById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}});

        // Assert
        assertEquals(expectedDto.get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}(), result.get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}());
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository).findById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}});
        verify(modelMapper).map({{.CurrentTable.GetCamelCaseTableName}}, {{.CurrentTable.GetPascalCaseTableName}}Dto.class);
    }

    @Test
    public void testGetById_NotFound() {
        // Arrange
        {{.CurrentTable.GetFirstPrimaryColumnJavaDataType}} {{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}} = {{.CurrentTable.GetFirstPrimarySetString}}999{{.CurrentTable.GetFirstPrimarySetString}};
        when({{.CurrentTable.GetCamelCaseTableName}}Repository.findById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}})).thenReturn(Optional.empty());

        // Act & Assert
        assertThrows({{.CurrentTable.GetPascalCaseTableName}}NotFoundException.class, () -> {{.CurrentTable.GetCamelCaseTableName}}Service.getById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}}));
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository).findById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}});
    }

    @Test
    public void testSave_Success() {
        // Arrange
        {{.CurrentTable.GetPascalCaseTableName}}Dto {{.CurrentTable.GetCamelCaseTableName}}Dto = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Dto();
        {{.CurrentTable.GetPascalCaseTableName}} {{.CurrentTable.GetCamelCaseTableName}} = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Model();
        {{.CurrentTable.GetPascalCaseTableName}} saved{{.CurrentTable.GetPascalCaseTableName}} = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getSecondDefault{{.CurrentTable.GetPascalCaseTableName}}Model();
        {{.CurrentTable.GetPascalCaseTableName}}Dto savedDto = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getSecondDefault{{.CurrentTable.GetPascalCaseTableName}}Dto();
        
        when(validator.validate({{.CurrentTable.GetCamelCaseTableName}}Dto)).thenReturn(Collections.emptySet());
        when(modelMapper.map({{.CurrentTable.GetCamelCaseTableName}}Dto, {{.CurrentTable.GetPascalCaseTableName}}.class)).thenReturn({{.CurrentTable.GetCamelCaseTableName}});
        when({{.CurrentTable.GetCamelCaseTableName}}Repository.saveAndFlush({{.CurrentTable.GetCamelCaseTableName}})).thenReturn(saved{{.CurrentTable.GetPascalCaseTableName}});
        when(modelMapper.map(saved{{.CurrentTable.GetPascalCaseTableName}}, {{.CurrentTable.GetPascalCaseTableName}}Dto.class)).thenReturn(savedDto);

        // Act
        {{.CurrentTable.GetPascalCaseTableName}}SaveResult result = {{.CurrentTable.GetCamelCaseTableName}}Service.save({{.CurrentTable.GetCamelCaseTableName}}Dto);

        // Assert
        assertNotNull(result.get{{.CurrentTable.GetPascalCaseTableName}}());
        assertEquals(savedDto.get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}(), result.get{{.CurrentTable.GetPascalCaseTableName}}().get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}());
        verify(validator).validate({{.CurrentTable.GetCamelCaseTableName}}Dto);
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository).saveAndFlush({{.CurrentTable.GetCamelCaseTableName}});
    }

    @Test
    public void testSave_ValidationFailure() {
        // Arrange
        {{.CurrentTable.GetPascalCaseTableName}}Dto {{.CurrentTable.GetCamelCaseTableName}}Dto = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Dto();
        Set<ConstraintViolation<{{.CurrentTable.GetPascalCaseTableName}}Dto>> violations = new HashSet<>();
        ConstraintViolation<{{.CurrentTable.GetPascalCaseTableName}}Dto> violation = mock(ConstraintViolation.class);
        when(violation.getMessage()).thenReturn("Title is required");
        violations.add(violation);
        
        when(validator.validate({{.CurrentTable.GetCamelCaseTableName}}Dto)).thenReturn(violations);

        // Act & Assert
        assertThrows({{.CurrentTable.GetPascalCaseTableName}}ValidationException.class, () -> {{.CurrentTable.GetCamelCaseTableName}}Service.save({{.CurrentTable.GetCamelCaseTableName}}Dto));
        verify(validator).validate({{.CurrentTable.GetCamelCaseTableName}}Dto);
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository, never()).saveAndFlush(any());
    }

    @Test
    public void testUpdate_Success() {
        // Arrange
        {{.CurrentTable.GetFirstPrimaryColumnJavaDataType}} {{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}} = {{.CurrentTable.GetFirstPrimarySetString}}{{.CurrentTable.GetJavaFirstPrimaryUnitTestValueAsString}}{{.CurrentTable.GetFirstPrimarySetString}};
        {{.CurrentTable.GetPascalCaseTableName}}Dto {{.CurrentTable.GetCamelCaseTableName}}Dto = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Dto();
        {{.CurrentTable.GetCamelCaseTableName}}Dto.set{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}}); // Set matching ID to avoid mismatch validation
        {{.CurrentTable.GetPascalCaseTableName}} {{.CurrentTable.GetCamelCaseTableName}} = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Model();
        {{.CurrentTable.GetPascalCaseTableName}} saved{{.CurrentTable.GetPascalCaseTableName}} = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getSecondDefault{{.CurrentTable.GetPascalCaseTableName}}Model();
        {{.CurrentTable.GetPascalCaseTableName}}Dto savedDto = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getSecondDefault{{.CurrentTable.GetPascalCaseTableName}}Dto();
        
        when({{.CurrentTable.GetCamelCaseTableName}}Repository.existsById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}})).thenReturn(true);
        when(validator.validate({{.CurrentTable.GetCamelCaseTableName}}Dto)).thenReturn(Collections.emptySet());
        when(modelMapper.map({{.CurrentTable.GetCamelCaseTableName}}Dto, {{.CurrentTable.GetPascalCaseTableName}}.class)).thenReturn({{.CurrentTable.GetCamelCaseTableName}});
        when({{.CurrentTable.GetCamelCaseTableName}}Repository.saveAndFlush({{.CurrentTable.GetCamelCaseTableName}})).thenReturn(saved{{.CurrentTable.GetPascalCaseTableName}});
        when(modelMapper.map(saved{{.CurrentTable.GetPascalCaseTableName}}, {{.CurrentTable.GetPascalCaseTableName}}Dto.class)).thenReturn(savedDto);

        // Act
        {{.CurrentTable.GetPascalCaseTableName}}SaveResult result = {{.CurrentTable.GetCamelCaseTableName}}Service.update({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}}, {{.CurrentTable.GetCamelCaseTableName}}Dto);

        // Assert
        assertNotNull(result.get{{.CurrentTable.GetPascalCaseTableName}}());
        assertEquals(savedDto.get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}(), result.get{{.CurrentTable.GetPascalCaseTableName}}().get{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}());
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository).existsById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}});
        verify(validator).validate({{.CurrentTable.GetCamelCaseTableName}}Dto);
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository).saveAndFlush({{.CurrentTable.GetCamelCaseTableName}});
    }

    @Test
    public void testUpdate_NotFound() {
        // Arrange
        {{.CurrentTable.GetFirstPrimaryColumnJavaDataType}} {{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}} = {{.CurrentTable.GetFirstPrimarySetString}}999{{.CurrentTable.GetFirstPrimarySetString}};
        {{.CurrentTable.GetPascalCaseTableName}}Dto {{.CurrentTable.GetCamelCaseTableName}}Dto = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Dto();
        {{.CurrentTable.GetCamelCaseTableName}}Dto.set{{.CurrentTable.GetFirstPrimaryColumnPascalCaseColumnName}}({{.CurrentTable.GetFirstPrimarySetString}}999{{.CurrentTable.GetFirstPrimarySetString}}); // Set matching ID to avoid mismatch validation
        
        when({{.CurrentTable.GetCamelCaseTableName}}Repository.existsById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}})).thenReturn(false);

        // Act & Assert
        assertThrows({{.CurrentTable.GetPascalCaseTableName}}NotFoundException.class, () -> {{.CurrentTable.GetCamelCaseTableName}}Service.update({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}}, {{.CurrentTable.GetCamelCaseTableName}}Dto));
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository).existsById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}});
        verify(validator, never()).validate(any());
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository, never()).saveAndFlush(any());
    }

    @Test
    public void testUpdate_IdMismatch() {
        // Arrange
        {{.CurrentTable.GetFirstPrimaryColumnJavaDataType}} {{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}} = {{.CurrentTable.GetFirstPrimarySetString}}999{{.CurrentTable.GetFirstPrimarySetString}};
        {{.CurrentTable.GetPascalCaseTableName}}Dto {{.CurrentTable.GetCamelCaseTableName}}Dto = {{.CurrentTable.GetCamelCaseTableName}}TestDataService.getDefault{{.CurrentTable.GetPascalCaseTableName}}Dto(); // Has {{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}} = {{.CurrentTable.GetJavaFirstPrimaryUnitTestValueAsString}}
        
        // Act & Assert
        assertThrows({{.CurrentTable.GetPascalCaseTableName}}ValidationException.class, () -> {{.CurrentTable.GetCamelCaseTableName}}Service.update({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}}, {{.CurrentTable.GetCamelCaseTableName}}Dto));
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository, never()).existsById(any());
        verify(validator, never()).validate(any());
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository, never()).saveAndFlush(any());
    }

    @Test
    public void testDelete_Success() {
        // Arrange
        {{.CurrentTable.GetFirstPrimaryColumnJavaDataType}} {{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}} = {{.CurrentTable.GetFirstPrimarySetString}}{{.CurrentTable.GetJavaFirstPrimaryUnitTestValueAsString}}{{.CurrentTable.GetFirstPrimarySetString}};
        when({{.CurrentTable.GetCamelCaseTableName}}Repository.existsById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}})).thenReturn(true);

        // Act
        {{.CurrentTable.GetCamelCaseTableName}}Service.delete({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}});

        // Assert
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository).existsById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}});
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository).deleteById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}});
    }

    @Test
    public void testDelete_NotFound() {
        // Arrange
        {{.CurrentTable.GetFirstPrimaryColumnJavaDataType}} {{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}} = {{.CurrentTable.GetFirstPrimarySetString}}999{{.CurrentTable.GetFirstPrimarySetString}};
        when({{.CurrentTable.GetCamelCaseTableName}}Repository.existsById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}})).thenReturn(false);

        // Act & Assert
        assertThrows({{.CurrentTable.GetPascalCaseTableName}}NotFoundException.class, () -> {{.CurrentTable.GetCamelCaseTableName}}Service.delete({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}}));
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository).existsById({{.CurrentTable.GetFirstPrimaryColumnCamelCaseColumnName}});
        verify({{.CurrentTable.GetCamelCaseTableName}}Repository, never()).deleteById(any());
    }
}
{{end}}