{{.CurrentTable.GetPascalCaseTableName}} Table Details

Foreign Keys:
{{range .CurrentTable.ForeignKeys}}
  PK Column: {{.PkColumnName}} in table {{.PkTableName}} is referenced by
  FK Column: {{.FkColumnName}} references {{.FkTableName}}.{{.FkColumnName}}
{{end  }}